* {
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
    box-sizing: border-box;
    font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

:focus {
    outline: 0;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

img {
    vertical-align: middle;
}

a,
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

button[disabled],
html input[disabled] {
    cursor: default;
}




